.bold{
  font-size: 18px;
  font-weight: 800;
}

  .text1{
    font-size: 16px;
    text-align: left;
    
    padding: 15px;
    color:Black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
   
  }


.read{
  text-align: right;
  margin-top: 5px;
}
.kontakt{
  margin-top: 10px;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    color: black;
}
    .service{
      margin-top: 10px;
      text-align: right;
      font-size: 18px;
      font-weight: 700;
      color: black
    }
    .service:hover{
      text-align: center;
      font-size: 18px;
      font-weight: 800;
      color:#56aee0;
     

   }
   .kontakt:hover{
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    color:#56aee0;
   }
  

.art{
  text-align: left;
  font-size: 24px;
  margin-bottom: 10px;
}
img{
  border-radius: 5px;
  
}
.cont{
margin-top: 20px;
}
@media only screen and (min-width: 360px) {
 .kontakt{
  margin-top: 10px;
  color: #000;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
 }
  .kontakt:hover{
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    color:#56aee0;
   }
   .service{
    margin-top: 10px;
    text-align: right;
    font-size: 22px;
    font-weight: 700;
    color: black
   }
    .service:hover{
      text-align: center;
      font-size: 22px;
      font-weight: 800;
      color:#56aee0;
      font-style: oblique;
     
   }
 }
