.margin{
    margin-left: 50px;
    margin-top: 20px
}
.nav{
    color:#56aee0;
    margin-left: 20px;
}
.nav:hover{
    color:black;
    
}
.nav_portal{
    margin-top: 20px;
    color:black;
    
}
.nav_portal:hover{
    color:#56aee0;
    
}