.popup{

}

.CookieConsent {
  max-width: 500px;
  border-radius: 5px; 
  padding: 20px 30px;
  border-color: black;
  border-style: solid;
  background-color:  #56aee0;
  color: black;
  position:fixed;
  top: 35%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate3d(-50%, -50%,9999990px);
  width: 95%;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.overlayclass { 
    position:fixed;
    background-color:#56aee0;;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
}