.bold {
  font-size: 18px;
  font-weight: 800;
}

.text1 {
  font-size: 16px;
  text-align: left;

  padding: 15px;
  color: Black;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.button_text {
  margin-top: 5px;
  text-align: center;
}
img {
  border-radius: 5px;
}

.cont {
  margin-top: 20px;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
}
.imgModal {
  border-radius: 15px;
}
.modalContainer {
  background-color: white;
  max-width: 500px;
  width: 400px;
  height: 500px;
  position: fixed;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

.modalRight {
  width: 100%;
}

.closeBtn {
  position: fixed;
  color: black;
  font-size: 22px;
  font-weight: 800;
  top: 8px;
  right: 8px;
}

@media screen and (max-width: 650px) {
  .modalContainer {
    flex-direction: column;
    top: 20%;
    left: 0;
    transform: none;
    width: 100%;
    height: 100vh;
  }
  .closeBtn {
    position: fixed;
    color: black;
    font-size: 22px;
    font-weight: 800;
    top: 22%;
    right: 8px;
  }
}
